# === Backend (Spring Boot) ===
/server/target/
*.log

# === Frontend (React / Vite) ===
/client/node_modules/
/client/dist/

# === IDE / OS ===
**/.idea/
**/*.iml
.DS_Store

# env files
.env
server/.env
client/.env.local