SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5433/task_manager
SPRING_DATASOURCE_USERNAME=task_user
SPRING_DATASOURCE_PASSWORD=task_password

JWT_SECRET=VGhpc0lzQVZlcnlMb25nU2VjcmV0S2V5Rm9ySldUSFNIQTI1Ng==
JWT_EXPIRATION=86400000